In [1]:
#groupby,群組相同的計算,並使用統計運算
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      float64
 3   data2   5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

  key1 key2     data1     data2
0    a  one  0.060717  0.868587
1    a  two -0.190548  0.063474
2    b  one  1.219786 -1.604493
3    b  two -0.722864  0.140073
4    a  one -0.027536  0.663860

In [2]:
gp1 = df['data1'].groupby(by=['x','x','x','y','y'])
gp1.sum()

x    1.089955
y   -0.750400
Name: data1, dtype: float64

In [6]:
#Series Groupby
df2 = df['data1'].groupby([df['key1'],df['key2']]).sum()
df2.unstack(level='key2')

key2       one       two
key1
a     0.033181 -0.190548
b     1.219786 -0.722864

In [4]:
df['data1'].groupby(df['key1']).sum()

key1
a   -0.157367
b    0.496922
Name: data1, dtype: float64

In [7]:
#dataFrame的Groupby
df.groupby(by=['key1','key2']).sum()

              data1     data2
key1 key2
a    one   0.033181  1.532447
     two  -0.190548  0.063474
b    one   1.219786 -1.604493
     two  -0.722864  0.140073

In [8]:
#透過dataFrame的groupby,取出SerialGroupby
df3 = df.groupby(by=['key1','key2'])['data1'].sum()
df3.unstack(level='key2')#就跟上面[6]那個是依樣的順序不同而已

key2       one       two
key1
a     0.033181 -0.190548
b     1.219786 -0.722864