In [1]:
import numpy as np
five_store = np.random.randint(100,10000,size=(5,30))
five_store_cumsum = five_store.cumsum(axis=1)
five_store_cumsum

array([[  9824,  18138,  25391,  29756,  39493,  41184,  44171,  49523,
         52242,  54238,  57405,  66913,  68645,  70383,  73019,  82063,
         84835,  89829,  90252,  92841,  96985, 106545, 112823, 116134,
        125189, 133733, 134039, 135164, 141626, 142507],
       [  5269,   8734,  11202,  13763,  22054,  28953,  34763,  37723,
         41086,  48504,  49436,  57686,  66954,  74487,  80078,  86816,
         89200,  92114, 100594, 102525, 106659, 116368, 123977, 133103,
        135011, 139577, 142766, 148906, 155437, 157848],
       [  5909,   9868,  11567,  13146,  21653,  29317,  30089,  36490,
         40862,  50696,  58470,  62737,  66682,  74836,  84796,  92935,
        100552, 110517, 110840, 111001, 111708, 114837, 123281, 128596,
        135207, 136644, 142879, 144624, 147061, 148735],
       [  3205,  10563,  14837,  16884,  17496,  26519,  31726,  36721,
         40921,  42172,  48521,  57703,  61282,  69214,  75456,  82501,
         89630,  92851,  99273, 108463, 116174, 122367, 131894, 134100,
        142808, 144354, 145262, 150189, 151977, 156767],
       [  6042,   8763,   8868,  12299,  17687,  26010,  35875,  37912,
         47462,  47938,  48160,  51627,  52788,  58717,  65036,  70099,
         75240,  79826,  88180,  96138, 101633, 105668, 111348, 112960,
        119841, 129476, 133196, 134013, 134486, 142297]])

In [4]:
import pandas as pd

five_store = pd.DataFrame(five_store_cumsum,
            columns=[f"第{day}天"for day in range (1,31)],
            index=['台北分店','新竹分店','台中分店','台南分店','高雄分店'])
new_df = five_store.T
new_df

        台北分店    新竹分店    台中分店    台南分店    高雄分店
第1天     9824    5269    5909    3205    6042
第2天    18138    8734    9868   10563    8763
第3天    25391   11202   11567   14837    8868
第4天    29756   13763   13146   16884   12299
第5天    39493   22054   21653   17496   17687
第6天    41184   28953   29317   26519   26010
第7天    44171   34763   30089   31726   35875
第8天    49523   37723   36490   36721   37912
第9天    52242   41086   40862   40921   47462
第10天   54238   48504   50696   42172   47938
第11天   57405   49436   58470   48521   48160
第12天   66913   57686   62737   57703   51627
第13天   68645   66954   66682   61282   52788
第14天   70383   74487   74836   69214   58717
第15天   73019   80078   84796   75456   65036
第16天   82063   86816   92935   82501   70099
第17天   84835   89200  100552   89630   75240
第18天   89829   92114  110517   92851   79826
第19天   90252  100594  110840   99273   88180
第20天   92841  102525  111001  108463   96138
第21天   96985  106659  111708  116174  101633
第22天  106545  116368  114837  122367  105668
第23天  112823  123977  123281  131894  111348
第24天  116134  133103  128596  134100  112960
第25天  125189  135011  135207  142808  119841
第26天  133733  139577  136644  144354  129476
第27天  134039  142766  142879  145262  133196
第28天  135164  148906  144624  150189  134013
第29天  141626  155437  147061  151977  134486
第30天  142507  157848  148735  156767  142297

In [7]:
type(new_df['台中分店'])
new_df['台中分店']

第1天       5909
第2天       9868
第3天      11567
第4天      13146
第5天      21653
第6天      29317
第7天      30089
第8天      36490
第9天      40862
第10天     50696
第11天     58470
第12天     62737
第13天     66682
第14天     74836
第15天     84796
第16天     92935
第17天    100552
第18天    110517
第19天    110840
第20天    111001
第21天    111708
第22天    114837
第23天    123281
第24天    128596
第25天    135207
第26天    136644
第27天    142879
第28天    144624
第29天    147061
第30天    148735
Name: 台中分店, dtype: int64