In [ ]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
df1

In [ ]:
#透過值的選取
df2 = df1.iloc[256:275]
df2['新增確診數']>200
df2[df2['新增確診數']>200]

In [ ]:
df2 = df1.iloc[256:275]
s1 = df2['新增確診數']>200
df2[s1]

In [ ]:
#資料庫的篩選
taiwan = df1[df1['國家']=='台灣']#字串要用==做比較
taiwan

In [10]:
taiwan['日期'] >= '2020-01-16' and taiwan['日期'] <= '2020-12-31'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [12]:
(taiwan['日期'] >= '2020-01-16') & (taiwan['日期'] <= '2020-12-31')

163986     True
163987     True
163988     True
163989     True
163990     True
          ...
164884    False
164885    False
164886    False
164887    False
164888    False
Name: 日期, Length: 903, dtype: bool

In [13]:
#用bool的series來選取資料
_2021_s1 = (taiwan['日期'] >= '2020-01-16') & (taiwan['日期'] <= '2020-12-31')
taiwan[_2021_s1]

        洲名  國家          日期  總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16     0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17     0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18     0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19     0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20     0      0  23855008  99999.00
...     ..  ..         ...   ...    ...       ...       ...
164332  亞洲  台灣  2020-12-27   785      2  23855008      0.21
164333  亞洲  台灣  2020-12-28   793      8  23855008      0.22
164334  亞洲  台灣  2020-12-29   795      2  23855008      0.21
164335  亞洲  台灣  2020-12-30   797      2  23855008      0.21
164336  亞洲  台灣  2020-12-31   799      2  23855008      0.20

[351 rows x 7 columns]